* {
  margin: 0;
}
body {
  background-color: black;
}
.section1 {
  background-color: white;
  margin-bottom: 5rem;
}
#img_1 {
  height: 70vh;
  width: 100%;
  margin-top: 2rem;
  background-color: skyblue;
}
#img_2 {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-top: -50px;
  margin-left: 10px;
  border: 8px solid white;
}
#h1_1 {
  margin-left: 20px;
  color: black;
  font-family: sans-serif;
}
#p1 {
  margin-left: 20px;
  color: black;
  font-family: sans-serif;
}
#p2 {
  margin-left: 25px;
  font-family: sans-serif;
  font-size: medium;
}
#button_1 {
  float: right;
  border-radius: 40px;
  width: 7rem;
  height: 40px;
  background-color: white;
  color: dodgerblue;
  margin-top: -140px;
  margin-right: 10px;
  font-family: sans-serif;
}
.div_1 {
  margin-left: 20px;
  font-family: sans-serif;
  font-size: small;
}
